@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box; 
}

body{
    font-family: "Shantell Sans", cursive;
}  
h1{
    text-align: center;
    margin-bottom:10px ;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;

}
fieldset{
    margin-bottom: 20px;

}
legend{
    background-color: black;
    color: white;
    padding: 3px 6px;
    margin-bottom: 10px;
}
label{
    display: flex;
    margin-bottom: 10px;
}
input{
    margin-left: 10px;
    margin-right: 10px;
}
select, textarea {
    width: 90%;
    margin-bottom: 10px;

    
}
textarea{
    resize: none;
    height: 60px;
}
button{
    padding: 10px 20px;
    background-color: rgb(13, 142, 13);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(4, 78, 4);
}
.center{
    display: flex;
    justify-content: center;
}